<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: rgb(41, 41, 41);
      color: rgb(226, 226, 226);
    "
  >
    <p>WELCOME</p>

    <ul>
      <li><a href="/mysql" style="color: #8a85f2">MySQL</a></li>
      <li><a href="/postgres" style="color: #8a85f2">Postgres</a></li>
    </ul>
  </body>
</html>
